table td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.blocked {
  background-color: grey;
}

.player {
  background-color: yellow;
}

.goal {
  background-color: green;
}
